<!-- This top bar menu -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#/dash">Qonversation</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="#" ng-bind-template="{{username}}"></a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!--      <li>
          <a href="#" ng-bind-template="{{online_status}}"></a>
        </li> -->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="false" ng-bind-template="{{online_status}}">
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" href="/#/chat" ng-click="updStatus('Online')">Online</a>
            </li>
            <li><a tabindex="-1" href="/#/chat" ng-click="updStatus('Busy')">Busy</a>
            </li>
            <li><a tabindex="-1" href="/#/chat" ng-click="updStatus('Away')">Away</a>
            </li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="#">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>


<div class="container">
  <!-- Main component for login -->
  <div class="jumbotron">
    <h2>Now chatting in {{roomName}}</h2>
    <ul>
      <li ng-repeat="message in messages track by $index">{{message}}</li>
    </ul>
    <form role="form" ng-submit="sendMessage(message)">
      <div class="form-inline">
        <input type='text' class="form-control" placeholder="Type a message" ng-model="message" />
        <button class="btn btn-primary" ng-click=""><i class="fa fa-paper-plane"></i> Send</button>
      </div>
    </form>

  </div>
</div>
<!-- /container -->
