<!-- This top bar menu -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#/dash">Qonversation</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="#" ng-bind-template="{{username}}"></a>
        </li>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="false">
    Rooms<b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <!-- Let's see all the rooms we have currently -->
    <li ng-repeat="room in rooms">
    <a tabindex="-1" href="/#/dash" ng-click="goToChat(room)">{{room}}</a>
    </li>

    <li class="divider"></li>
    <li><a tabindex="-1" href="/#/room">Create room</a>
    </li>
  </ul>
</li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!--      <li>
          <a href="#" ng-bind-template="{{online_status}}"></a>
        </li> -->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="false" ng-bind-template="{{online_status}}">
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" href="/#/dash" ng-click="updStatus('Online')">Online</a>
            </li>
            <li><a tabindex="-1" href="/#/dash" ng-click="updStatus('Busy')">Busy</a>
            </li>
            <li><a tabindex="-1" href="/#/dash" ng-click="updStatus('Away')">Away</a>
            </li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="#">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>

<div class="container" ng-controller="DashboardCtrl">
  <!-- Main component for login -->
  <div class="jumbotron">
    <h1>Welcome</h1>
    <h2>This is the worst welcome page in the world !</h2>
    <h3>Please choose a room on top or type /room</h3>
    <a href="/#/room">
      <button class="btn btn-lg btn-primary">Let's chat !</button>
    </a>
  </div>
</div>
<!-- /container -->
