<div class="container">
  <!-- Main component for login -->
  <div class="jumbotron">
    <h1>The Most Awesome chat app !</h1>
    <h2>Please choose a nickname</h2>
    <form>
      <div class="input-group input-group-lg text-center">
        <input type="text" class="form-control" placeholder="Username">
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <br />
      <p>
        <a class="btn btn-lg btn-primary" href="#room" role="button">Let's chat !</a>
      </p>
    </form>
  </div>
</div> <!-- /container -->
