<!-- This top bar menu -->
<div ng-include src="'partials/menu.html'"></div>


<div class="container">
  <!-- Main component for room -->
  <div class="jumbotron">
    <h2>Please enter a chatroom name</h2>
    <form ng-submit="createRoom(roomName)">
      <div class="input-group input-group-lg text-center">
        <input type="text" class="form-control" ng-model="roomName" placeholder="Chatroom">
      </div>
      <br />
      <p>
        <button class="btn btn-lg btn-primary" ng-click="">OK !</button>
      </p>
    </form>
  </div>
</div>
<!-- /container -->
