<!-- This top bar menu -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Qonversation</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="#" ng-bind-template="{{username}}"></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" ng-bind-template="{{online_status}}"></a>
        </li>
      </ul>

    </div>
    <!--/.nav-collapse -->
  </div>
</div>



<div class="container">
  <!-- Main component for login -->
  <div class="jumbotron">
    <h2>Please choose a chatroom name</h2>
    <form ng-submit="createRoom(roomName)">
      <div class="input-group input-group-lg text-center">
        <input type="text" class="form-control" ng-model="roomName" placeholder="Chatroom">
      </div>
      <br />
      <p>
        <button class="btn btn-lg btn-primary" ng-click="">OK !</button>
      </p>
    </form>
  </div>
</div>
<!-- /container -->
